<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.compat.css"
  />
    <link rel="stylesheet" href="/home/main.css">
    <title>Algorithm Visualizer</title>
</head>
<body>
    <header id="main-header">
      <div class="text-editor-btn animate_animated animate__fadeInRight">
        <a href="http://localhost:5000/editor"> Try Text Editor </a>
      </div>
    </header>
    <main>
        <div class="landing-text-container animate_animated animate__fadeInDown">
            <p class="big-text">
                The Platform For Algorithm Visualizing
            </p>
            <p class="subtext">
                Learning an algorithm gets much easier with visualizing it
            </p>
        </div>
        <div class="nav-links">
            <div class="nav-link"><a class="animated-button victoria-two" href="http://localhost:5000/sortVisualizer">Sorting Visualizer</a></div>
            <div class="nav-link"><a class="animated-button victoria-two" href="http://localhost:5000/searchVisualizer">Searching Visualizer</a></div>
            <div class="nav-link"><a class="animated-button victoria-two" href="http://localhost:5000/pathFinder">PathFinding Visualizer</a></div>
        </div>
    </main>
</body>
</html>